<h1 class="text-center">Lists index</h1>
<div class="container">
<ul class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item"><i class="fa-solid fa-film"></i> <%= link_to list.name, list_path(list), class: "text-decoration-none text-dark" %></li>
  <% end %>
</ul>
<p class="mt-3"><%= link_to "Add a list", new_list_path, class: "text-decoration-none text-dark" %></li>
</p>
</div>
